{% extends 'layout.html' %}

{% block title %}
    Stretch Workout of {{ formatted_date }}
{% endblock %}


{%block content %}
    <h1>{{ formatted_date }}</h1>
        <form method="post">
            {% csrf_token %}
            <label for="workout_type">What kind of stretching workout are you looking for?</label>
            <select id="workout_type" name="workout_type">
                <option value="gentle">Gentle</option>
                <option value="challenging">Challenging</option>
                <option value="intense">Intense</option>
            </select>
            <button type="submit">Submit</button>
    
        {% for stretch in workout_today %}
            <p>{{ stretch }}</p>
        {% endfor %}
        <p>{{ after_message }}</p>
    {% endblock %}